@media only screen and (min-width: 1280px) {
  .authMD {
    display: grid;
    grid-template-columns:
      repeat(3, minmax(16px, 1fr)) minmax(0, 192px) minmax(0, 192px) minmax(
        0,
        192px
      )
      minmax(0, 128px) minmax(0, 192px) minmax(0, 128px)
      repeat(3, minmax(16px, 1fr));

    grid-template-rows: minmax(8px, 1fr) minmax(640px, 768px) minmax(32px, 1fr);
  }
  .rightSide {
    box-shadow: inset 0 5px 3px hsl(194, 61%, 47%),
      0 4px 5px hsla(0, 0%, 99%, 0.549);
  }
}

/* 5-8 */
@media only screen and (min-width: 1280px) {
  .resetPWMD {
    display: grid;
    grid-template-columns:
      repeat(3, minmax(16px, 1fr)) minmax(0, 192px) minmax(0, 192px) minmax(
        0,
        128px
      )
      minmax(0, 128px) minmax(0, 192px) minmax(0, 128px)
      repeat(3, minmax(16px, 1fr));

    grid-template-rows: minmax(8px, 1fr) minmax(640px, 1fr) minmax(32px, 1fr);
  }
}

.mainContainer {
  filter: drop-shadow(0 2px 10px rgba(51, 50, 50, 0.904))
    drop-shadow(0 10px 8px rgba(75, 73, 73, 0.08));
}

.icon {
  padding: 8px;
  margin-left: -1px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
}

.iconError {
  padding: 8px;
  position: absolute;
  box-sizing: border-box;
  top: 32%;
  left: 4px;
  transform: translateY(-50%);
}

.button {
  box-shadow: inset 0 2px 1px hsl(194, 71%, 50%), 0 3px 2px hsla(0, 0%, 0%, 0.2), 3px 10px 7px hsla(0, 2%, 50%, 0.2);
}

.input {
  box-shadow: inset 0 5px 2px hsla(0, 0%, 0%, 0.1),
    1px 5px 4px hsla(0, 1%, 90%, 0.15),inset 0 4px 1px hsla(0, 0%, 0%, 0.1),inset -4px 0 4px hsla(0, 0%, 0%, 0.1);
}

.frostCord {
  filter: drop-shadow(0 2px 6px rgba(237, 232, 232, 0.904))
    drop-shadow(0 10px 8px rgba(227, 214, 214, 0.08));
}

.logo {
  box-shadow: inset 0 2px 1px hsl(194, 71%, 50%),
    0 20px 25px hsla(0, 0%, 100%, 0.649), 0 15px 25px hsla(0, 3%, 46%, 0.649);
}
