@media only screen and (min-width: 1280px) {
  .authMD {
    display: grid;
    grid-template-columns:
      repeat(3, minmax(16px, 1fr)) minmax(0, 192px) minmax(0, 192px) minmax(
        0,
        192px
      )
      minmax(0, 128px) minmax(0, 192px) minmax(0, 128px)
      repeat(3, minmax(16px, 1fr));

    grid-template-rows: minmax(8px, 1fr) minmax(640px, 768px) minmax(32px, 1fr);
  }

  .rightSide {
    background-image: linear-gradient(
        to top left,
        hsla(197, 79%, 74%, 10%),
        hsla(197, 81%, 39%, 10%)
      ),
      linear-gradient(
        to top,
        hsla(197, 79%, 74%, 100%),
        hsla(197, 81%, 39%, 70%)
      ),
      url('../public/bubbles.svg'),
      linear-gradient(
        to top,
        hsla(197, 79%, 74%, 90%),
        hsla(197, 81%, 39%, 100%)
      );
    box-shadow: inset 0 10px 4px hsla(197, 81%, 44%, 30%),
      17px 17px 4px hsla(0, 0%, 18%, 0.749),
      18px 25px 20px hsla(0, 0%, 21%, 0.749),
      -12px 1px 4px hsla(0, 0%, 21%, 0.749);
  }

  .resetPWMD {
    display: grid;
    grid-template-columns:
      repeat(3, minmax(16px, 1fr)) minmax(0, 192px) minmax(0, 192px) minmax(
        0,
        128px
      )
      minmax(0, 128px) minmax(0, 192px) minmax(0, 128px)
      repeat(3, minmax(16px, 1fr));

    grid-template-rows: minmax(8px, 1fr) minmax(640px, 1fr) minmax(32px, 1fr);
  }

  .mainContainer {
    filter: drop-shadow(0 2px 10px rgba(51, 50, 50, 0.904))
      drop-shadow(0 10px 8px rgba(75, 73, 73, 0.08));
    background-color: #354045;
  }
}

@media only screen and (max-width: 1280px) {
  .mainBackground {
    background-image: linear-gradient(
        to top left,
        hsla(197, 79%, 74%, 10%),
        hsla(197, 81%, 39%, 10%)
      ),
      linear-gradient(
        to top,
        hsla(197, 79%, 74%, 100%),
        hsla(197, 81%, 39%, 70%)
      ),
      url('../public/bubbles.svg'),
      linear-gradient(
        to top,
        hsla(197, 79%, 74%, 90%),
        hsla(197, 81%, 39%, 100%)
      );
    box-shadow: inset 0 10px 4px hsla(197, 81%, 44%, 30%),
      17px 17px 4px hsla(0, 0%, 18%, 0.749),
      18px 25px 20px hsla(0, 0%, 21%, 0.749);
  }
}

.icon {
  padding: 8px;
  margin-left: -1px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
}

.iconError {
  padding: 8px;
  position: absolute;
  box-sizing: border-box;
  top: 32%;
  left: 4px;
  transform: translateY(-50%);
}

.button {
  box-shadow: inset 0 4px 3px hsl(194, 71%, 48%),
    2px 4px 2px hsla(0, 0%, 0%, 0.2), 3px 10px 7px hsla(0, 1%, 28%, 0.2);
}

.input {
  box-shadow: inset 0 5px 2px hsla(0, 0%, 0%, 0.1),
    1px 5px 4px hsla(0, 1%, 90%, 0.18), inset 0 4px 1px hsla(0, 0%, 0%, 0.1),
    inset -4px 0 4px hsla(0, 0%, 0%, 0.1);
}

.frostCord {
  filter: drop-shadow(0 2px 3px rgba(237, 232, 232, 0.904))
    drop-shadow(0 10px 8px rgba(227, 214, 214, 0.08));
  font-family: 'BaronNeue', sans-serif;
  text-transform: uppercase;
}

.logo {
  box-shadow: inset 0 2px 1px hsl(194, 71%, 50%),
    2px 10px 8px hsla(0, 0%, 16%, 0.649), 5px 20px 20px hsla(0, 0%, 16%, 0.649);
}

.passwordReset {
  background-image: linear-gradient(
      to top left,
      hsla(197, 79%, 74%, 10%),
      hsla(197, 81%, 39%, 10%)
    ),
    linear-gradient(to top, hsla(197, 79%, 74%, 100%), hsla(197, 81%, 39%, 70%)),
    url('../public/bubbles.svg'),
    linear-gradient(to top, hsla(197, 79%, 74%, 90%), hsla(197, 81%, 39%, 100%));
  box-shadow: inset 0 10px 4px hsla(197, 81%, 44%, 30%),
    17px 17px 4px hsla(0, 0%, 18%, 0.749),
    18px 25px 20px hsla(0, 0%, 21%, 0.749);
}
