@media only screen and (min-width: 1280px) {
  .loginMD {
    display: grid;
    grid-template-columns:
      repeat(3, minmax(16px, 1fr)) repeat(6, minmax(0, 192px))
      repeat(3, minmax(16px, 1fr));

    grid-template-rows: minmax(48px, 1fr) minmax(768px, 1fr) minmax(48px, 1fr);
  }
  .rightSide {
    box-shadow: inset 0 5px 0 hsl(194, 81%, 70%);
    box-shadow: 0 4px 5px hsla(0, 0%, 99%, 0.549);
  }
}

.icon {
  padding: 8px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
}

.button {
  box-shadow: inset 0 1px 0 hsl(194, 81%, 60%);
  box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.2);
}

.input {
  box-shadow: 0 4px 0 hsla(0, 0%, 100%, 0.15);
  box-shadow: inset 0 4px 4px hsla(0, 0%, 0%, 0.1);
}

.frostCord {
  filter: drop-shadow(0 20px 13px rgba(237, 232, 232, 0.03))
    drop-shadow(0 10px 8px rgba(227, 214, 214, 0.08));
}
