.modal {
  max-width: fit-content;
  border: 0;
  padding: 0;
  box-shadow: 0 0 1.5em rgb(0 0 0 / 0.3);
  z-index: 9;
}

.modal::backdrop {
  background: linear-gradient(
    45deg,
    rgba(18, 91, 122, 0.5),
    rgba(33, 167, 214, 0.2)
  );
  opacity: 0.4;
}

.userSettings {
  width: 450px;
  height: 350px;
}

.mediaSelect {
  width: 11rem;
}

/* @layer components{
  .tabRoot{
    @apply flex flex-row
  }

  .tabList{
    @apply flex flex-col flex-shrink border-r border-gray-600
  }

  .tabTrigger{
    @apply px-3 py-2 aria-[selected=true]:border-r aria-[selected=true]:border-r-white focus:z-10 aria-[selected=true]:outline-none focus-visible:ring text-left aria-[selected=true]:bg-gray-500
  }

  .tabContent{
    @apply flex flex-col
  }
} */
