@media (max-width: 940px) {
  .serverIcon {
    --tw-bg-opacity: 1;
    background-color: rgb(53 64 69 / var(--tw-bg-opacity));
  }

  .flexDirection {
    display: flex;
  }

  .membersSpacing {
    margin-left: 0px;
  }
}

@media (min-width: 940px) {
  .serverIcon {
    --tw-bg-opacity: 1;
    background-color: rgb(47 59 64 / var(--tw-bg-opacity));
  }
  .flexDirection {
    display: flex;
    flex-direction: column;
  }
  .membersSpacing {
    margin-left: 0;
  }
}

.arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 10px solid rgb(33 40 43 / 1);
}
